
:host {
    display: block;
    width: 400px;
    margin-top: 20px;
}

#calculations {
    text-align: right;
    color: gray;
}
#result {
    text-align: right;
    font-size: 24px;
    padding-bottom: 5px;
    padding-top: 5px;
}

ul#keypad {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
ul#keypad li {
    float: left;
}
ul#keypad button {
    width: 100px;
    height: 50px;
    border: 1px solid #fff;
    color: #fff;
    background: #9e9e9e;
}
ul#keypad button.operator {
    background:#f44336;
}
ul#keypad button.action {
    background: #2196f3;
}
ul#keypad button.wide {
    width: 200px;
}